<ion-header>
  <ion-navbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-range min="0" max="150" [(ngModel)]="age" color="primary">
      <ion-label id="age" range-left class="small-text" style="width:40%">Age: {{ age }} </ion-label>
    </ion-range>

    <button ion-button full (click)="showCheckbox()">{{ 'SUG_EVENT' | translate }}Favorite type of event</button>
    <div id="badges">
    </div>

    <button ion-button full (click)="saveProfile()">Save</button>

    <ion-footer>
      <div *ngIf="!venueCodeEntered">
        <ion-input type="password" [(ngModel)]="venueCode" placeholder="Venue code"></ion-input>
        <button item-end ion-button full (click)="checkVenueCode()">Ok</button>
      </div>
      <div *ngIf="venueCodeEntered">
        <button ion-button full (click)="goToChartPage()">See your statistics</button>
      </div>
    </ion-footer>


  </ion-list>
</ion-content>