page-profile {
    .badge{
        margin-top: 5px;
        margin-left: 1px;
        color: white;
        background: rgb(36, 65, 48);
        padding: 5px;
        border-radius: 5px;
        display: inline-block;
    }
}
